.footer__links {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: 18px;
}

@media screen and (max-width: 500px) {
  .footer__links {
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
