.cover__overlay {
    height: calc(100% - 92px);
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 30%;
    z-index: 1;
  }

  .cover__overlay:hover {
    opacity: 80%;
  }

  @media screen and (max-width: 768px) {
    .cover__overlay {
      height: calc(100% - 90px);
    }
  }

  @media screen and (max-width: 320px) {
    .cover__overlay {
      height: calc(100% - 66px);
    }
  }
