.place__website {
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  align-content: end;
}

@media screen and (max-width: 320px) {
  .place__website {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
